# Xcode
.DS_Store

## Build
xcuserdata/
build/
DerivedData/
.build/

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/swiftlint.result.json
